
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.componentCommonStyle {
  border: 1px solid transparent;
  user-select: none;
}

.componentIsSelected {
  border: 1px solid darkorange;
}
